.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#total-cals {
	font-family: System-Bold;
	font-size: 64;
	fill: #37c89f;
}

#recfill {
  fill: black;
  rx: 15;
  ry: 15;
}

#recbord {
  fill: #37c856;
  rx: 15;
  ry: 15;
}
