.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#line1 {
	text-length: 32;
}

#line2 {
	text-length: 32;
}

#line3 {
	text-length: 32;
}


#line4 {
	text-length: 32;
}

#line5 {
	text-length: 32;
}
#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#bord {
	opacity: .4;
	fill: #9bff70;
}
